@import '../../../client/variables';

.remote-stream {
    z-index: 5;
    position: relative;
    width: 280px;
    height: 180px;
    background-color: rgba($main-color, 0.9);
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow-x: hidden;
    margin-bottom: 10px;

    &.talking {
        border: 2px solid var(--secondary-color);
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    &[data-state='calling']::before {
        content: 'Calling…';
    }

    &[data-state='media-error']::before {
        content: 'Media error 😢';
    }

    .stream-name {
        position: absolute;
        left: 5px;
        top: 5px;
        background-color: rgba($main-color, 0.75);
        border-radius: 4px;
        padding: 3px 10px;
        z-index: 10;
        color: #e5e4e7;
    }

    img,
    video {
        pointer-events: none;
    }

    video {
        width: 100%;
        height: 180px;
        border-radius: 10px;
        object-fit: cover;
    }

    .webcam {
        width: 100%;
        height: 100%;
        cursor: pointer;

        img,
        video {
            width: 280px;
            height: 180px;
            position: absolute;
            background-color: #292929;
            background-image: url('loader-white.gif');
            background-size: inherit;
            background-repeat: no-repeat;
            background-position: center;
        }

        img {
            z-index: 8;
            cursor: default;
        }
    }

    .screenshare-preview {
        cursor: pointer;
        width: 128px;
        height: 72px;
        z-index: 12;
        position: absolute;
        border-radius: 6px;
        bottom: 2px;
        right: 2px;
        border: 2px solid var(--primary-color);
        background-color: #292929;
        box-sizing: content-box;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border: 2px solid var(--secondary-color-darken-20);
        }

        video {
            width: 128px;
            height: 72px;
            background-color: #292929;
            background-image: url('loader-white.gif');
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 2px;
        }
    }
}

.remote-audio {
    position: relative;

    .mute {
        position: absolute;
        z-index: 10;
        top: 5px;
        right: 35px;
        font-size: 24px;

        div:nth-child(1) {
            position: absolute;
            z-index: 11;
        }

        div:nth-child(2) {
            position: absolute;
            z-index: 12;
            transform: scale(0.65);
        }
    }
}

.fullscreen-modal {
    position: absolute !important;
    inset: 0 !important;
    transform: unset !important;
    width: calc(100% - 300px) !important;
    height: 100% !important;
    max-height: unset !important;
    max-width: unset !important;
    border-radius: 0px !important;

    .fullscreen {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .fullscreen-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(10px);
            -webkit-filter: blur(30px);

            video {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover !important;
            }
        }

        .main {
            position: relative;
            object-fit: contain !important;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;

            video {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}

.container-stream-me {
    transform: translateX(110%);
    transition: transform 0.5s ease-out;
    position: fixed;
    z-index: 50;
    bottom: 10px;
    right: 10px;

    @include media-max('phone-down') {
        transform: translate(300px);
        transition: transform 0.5s;

        &.visible {
            transform: translate(0);
        }

        &.videoActive {
            transform: translate(240px);

            &.visible {
                transform: translate(0);
            }
        }
    }

    &.active {
        background-color: rgba($main-color, 1);
        border-radius: 15px;
        transform: translateX(0);
    }

    .stream-me {
        position: relative;
        width: 280px;
        height: 180px;
        background-color: rgba($main-color, 0.9);
        border-radius: 15px;
        z-index: 30;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        overflow: hidden;

        video {
            width: 100%;
            height: 180px;
            border-radius: 10px;
            display: none;
            object-fit: cover;
            transform: scale(-1, 1);
        }

        &.active-video video {
            display: block;
        }
    }

    .stream-screen-me {
        display: none;
        position: absolute;
        bottom: 25px;
        right: 16px;
        width: 340px;
        height: 200px;
        background-color: #292929;
        background-image: url('loader-white.gif');
        background-size: 30%;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 15px;
        overflow: hidden;
        z-index: 28;

        &.active {
            display: block;
        }

        video {
            width: 100%;
            object-fit: fill;
            height: 100%;
        }
    }
}
