@import '../../../client/variables';

.remote-users {
    max-height: calc(100vh - 210px);
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 50;
    width: 280px;
    overflow-y: scroll;

    video:not(.fullscreen) {
        object-fit: cover;
    }
}

.remote-users::-webkit-scrollbar {
    display: none;
}

.remote-user {
    animation: slideIn 0.5s ease-out 0s forwards;
}

.fullscreen-container {
    z-index: 10;
    position: absolute;
    width: calc(100% - 300px) !important;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;

    .fullscreen {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .fullscreen-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $new-dark-secondary;

            video {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover !important;
                filter: blur(30px);
                -webkit-filter: blur(30px);
            }
        }

        .main {
            position: relative;
            object-fit: contain !important;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;

            video {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}

.container-stream-me {
    transform: translateX(110%);
    transition: transform 0.5s ease-out;
    position: fixed;
    z-index: 50;
    bottom: 10px;
    right: 10px;

    @include media-max('phone-down') {
        transform: translate(300px);
        transition: transform 0.5s;

        &.visible {
            transform: translate(0);
        }

        &.videoActive {
            transform: translate(240px);

            &.visible {
                transform: translate(0);
            }
        }
    }

    &.active {
        background-color: rgba($main-color, 1);
        border-radius: 15px;
        transform: translateX(0);
    }

    .stream-me {
        position: relative;
        width: 280px;
        height: 180px;
        background-color: rgba($main-color, 0.9);
        border-radius: 15px;
        z-index: 30;
        overflow: hidden;
        background-size: cover;

        video {
            width: 100%;
            height: 180px;
            border-radius: 10px;
            display: none;
            object-fit: cover;
            transform: scale(-1, 1);
        }

        &.active-video video {
            display: block;
        }
    }

    .stream-screen-me {
        display: none;
        position: absolute;
        bottom: 25px;
        right: 16px;
        width: 340px;
        height: 200px;
        background-color: #292929;
        background-image: url('loader-white.gif');
        background-size: 30%;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 15px;
        overflow: hidden;
        z-index: 28;

        &.active {
            display: block;
        }

        video {
            width: 100%;
            object-fit: fill;
            height: 100%;
        }
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(0);
    }
}
