@import '../_variables';

.media-container {
    overflow-y: scroll;

    .video-preview {
        position: relative;
    }

    .audio-meter {
        display: flex;
        flex-direction: column-reverse;
        gap: 1px;
        position: absolute;
        left: 16px;
        bottom: 16px;

        .item {
            width: 16px;
            height: 4px;
            background-color: $grey-d;
            border-radius: 1px;
        }

        .item-full {
            background-color: $success-l;
        }
    }
}
