@import '../_variables';

.remote-user {
    max-height: calc(100vh - 210px);
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 50;
    width: 280px;
    transform: translateX(110%);
    transition: transform 0.5s ease-out;
    overflow-y: scroll;

    video:not(.fullscreen) {
        object-fit: cover;
    }

    &.active {
        transform: translateX(0);
    }
}

.remote-user::-webkit-scrollbar {
    display: none;
}

.stream-me {
    transform: translateX(110%);
    transition: transform 0.5s ease-out;
    position: fixed;
    z-index: 50;
    bottom: 10px;
    right: 10px;

    @include media-max('phone-down') {
        transform: translate(300px);
        transition: transform 0.5s;

        &.visible {
            transform: translate(0);
        }

        &.videoActive {
            transform: translate(240px);

            &.visible {
                transform: translate(0);
            }
        }
    }

    &.active {
        background-color: rgba($main-color, 1);
        transform: translateX(0);
    }

    .js-stream-me {
        position: relative;
        width: 280px;
        height: 180px;
        background-color: rgba($main-color, 0.9);
        border-radius: 15px;
        z-index: 30;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        overflow: hidden;

        video {
            width: 100%;
            height: 180px;
            border-radius: 10px;
            display: none;
            object-fit: cover;
            transform: scale(-1, 1);
        }

        &.active-video video {
            display: block;
        }
    }

    .js-stream-screen-me {
        display: none;
        position: absolute;
        bottom: 25px;
        right: 16px;
        width: 340px;
        height: 200px;
        background-color: #292929;
        background-image: url('loader-white.gif');
        background-size: 30%;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 15px;
        overflow: hidden;
        z-index: 28;

        &.active {
            display: block;
        }

        video {
            width: 100%;
            object-fit: fill;
            height: 100%;
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
