@import '../_variables';

.user-panel {
    position: absolute;
    z-index: 50;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    gap: 6px;

    .buttons {
        background-color: rgba($main-color, 0.9);
        border-radius: 12px;
        padding: 10px;
    }

    &.stream-active {
        left: calc(50% - 140px);
    }

    @media screen and (max-width: 550px) {
        bottom: 14px;
        background-color: rgba($main-color, 0.9);
        left: unset;
        transform: unset;
        right: 100px;
        padding: 8px;
    }

    @media screen and (max-width: 700px) {
        &.stream-active {
            padding: 6px;
            background-color: rgba($main-color, 0.4);
            right: 24px;
            transform: unset;
            bottom: 14px;
            left: unset;
            z-index: 100;
        }
    }

    .separator {
        color: #d2d5e0;
        transform: translateY(5px);
    }

    .zoom-control {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .button {
            width: 18px;
            height: 18px;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 900;
            line-height: 18px;
            
            @media (hover: hover) {
                &:hover {
                    color: $main-color;
                }
            }
            
            @media screen and (max-width: 850px) {
                height: 16px;
                width: 16px;
                padding: 0;
            }
            
        }
    }

    .button {
        position: relative;
        background-color: lighten($main-color, 75%);
        height: 36px;
        width: 36px;
        box-sizing: content-box;
        padding: 0;
        margin: 0;
        border-radius: $radius;
        color: $main-color;

        @media screen and (max-width: 850px) {
            height: 26px;
            width: 26px;
            padding: 4px;
        }

        svg {
            fill: $main-color;
            transform: translateY(2px) scale(0.95);
        }

        &.active {
            background-color: var(--primary-color);
        }

        &:disabled {
            background-color: hsl(0deg, 0%, 63%);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--primary-color-lighten-20);
            }
        }

        &.audio:not(.active)::before, &.video:not(.active)::before, &.screen:not(.active)::before {
            content: '\\';
            position: absolute;
            color: $main-color;
            z-index: 1000;
            font-size: 1.8rem;
            top: 1px;
            left: 13px;
            transform: rotate(62deg);
            pointer-events: none;
            text-shadow: 0 0 3px #eff1f6;
        }
    }
}

.displaynone {
    display: none !important;
}
