@import "../_variables";

.onboarding {
    background: #222;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 32px 64px;
    position: absolute;
    z-index: 10;
    animation: fadeInOnboarding 1s;
    overflow-y: auto;
    z-index: -10;
    
    .logo {
        width: fit-content;
        height: 70px;
        margin-bottom: 10px;
    }
    
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }
    
    .main-title {
        padding: 8px 16px;
        max-width: 412px;
        // background: $lem-color-6;
        border-radius: 8px;
        // color: #FFFFFF;
        font-size: 1rem;
        line-height: 32px;
        text-align: center;
        font-weight: bold;
    
        @media (min-width: 480px) {
            font-size: 1.5rem;
        }
    }
    
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: 648px;
        background: $new-dark-secondary;
        border-radius: 16px;
        padding: 40px 20px;
        position: relative;
    }

    .content:after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('assets/images/scene-onboarding-background.png');
        background-repeat: repeat;
        opacity: 1;
        border-radius: 16px;
        animation: leftAnim 10s linear infinite, fadeInBackground 2s;

        &__left:after {
            animation: leftAnim 10s linear infinite, fadeInBackground 2s;
        }

        .right {
            animation: rightAnim 10s linear infinite, fadeInBackground 2s;
        }

        .bottom {
            animation: bottomAnim 10s linear infinite, fadeInBackground 2s;
        }

        .top {
            animation: topAnim 10s linear infinite, fadeInBackground 2s;
        }
    }
    
    .permission-img {
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 160px;
        object-fit: contain;
        border-radius: 8px;
    }
    
    .button {
        all: unset;
        cursor: pointer;
        padding: 12px 16px;
        background: $lem-color-6;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
        max-width: fit-content;
        color: white;
        margin-top: 16px;
    
        .disabled {
            background: $gray200;
        }
    
        @media (min-width: 480px) {
            font-size: 1.5rem;
        }
    }

    .header {
        display: none;
    }

    .settingsCharacter {
        max-width: 650px;
        margin-bottom: 18px;
    }

    .keyboards {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .keyboard {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .keyinput {
                display: flex;
                flex-direction: row;
                gap: 8px;
                width: 40px;
                height: 40px;
                border: 1px solid #FFFFFF;
                border-radius: 8px;
                color: white;
                align-items: center;
                justify-content: center;
            }

            .pressed {
                background-color: $lem-color-6;
            }

            .bottom-keyinput {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }
    }
}

.onboarding:after {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/scene-loader-background.png');
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    animation: leftAnim 10s linear infinite, fadeInBackground 2s;
}

@keyframes fadeInOnboarding {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes anim {
    100% {
        background-position: -416px -416px;
    }
}

@keyframes fadeInBackground {
    0% { opacity: 0; }
    100% { opacity: 0.1; }
}


@keyframes leftAnim {
    100% {
        background-position: -416px 0px;
    }
}


@keyframes rightAnim {
    100% {
        background-position: 416px 0px;
    }
}

@keyframes bottomAnim {
    100% {
        background-position: 0px 416px;
    }
}

@keyframes topAnim {
    100% {
        background-position: 0px -416px;
    }
}