@import '../_variables';

.modal-container .modal .modal-window .js-modal-close {
    visibility: hidden;
}

.permission-modal {
    padding: 10px 24px;
    width: 432px;
    border-radius: 8px;
    color: #5f6368;
    background-color: white;

    h3 {
        color: #000000;
    }

    button {
        cursor: pointer;
        float: right;
        color: #2277ff;
        background-color: #ffffff;
        border: 0px;
        padding: 8px;
        border-radius: 8px;

        &:hover {
            color: #3c42f2;
            background-color: #f2f9ff;
        }
    }
}

.onboarding {
    background: #222;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 32px 64px;
    position: absolute;
    z-index: 3;
    animation: fade-in-onboarding 1s;
    overflow-y: auto;

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        margin: auto 0;
        height: 100%;
    }

    .main-title {
        padding: 8px 16px;
        max-width: 412px;
        background: $lem-color-6;
        border-radius: 8px;
        color: #fff;
        font-size: 1rem;
        line-height: 32px;
        text-align: center;
        font-weight: bold;

        @media (min-width: 480px) {
            font-size: 1.5rem;
        }
    }

    .hide {
        display: none;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 570px;
        max-height: 428px;
        background: $new-dark-secondary;
        border-radius: 16px;
        padding: 40px 20px;
        position: relative;
    }

    .content,
    .step-1 {
        position: relative;

        .camera-disabled {
            display: flex;
            align-items: center;
            flex-direction: column;

            .camera-disabled-text {
                color: $grey-d;
            }
        }

        .active {
            width: 280px;
            height: 180px;
            background-color: rgba($main-color, 1);

            .buttons button:not(.active) {
                opacity: 0.5;
            }
        }

        video {
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 10px;
            object-fit: cover;
            transform: scale(-1, 1);
        }

        &.active-video video {
            display: block;
        }

        .audio-meter {
            display: flex;
            flex-direction: column-reverse;
            gap: 1px;
            z-index: 2;
            position: absolute;
            left: 16px;
            bottom: 16px;

            .item {
                width: 16px;
                height: 4px;
                background-color: $grey-d;
                border-radius: 1px;
            }

            .item-full {
                background-color: $success-l;
            }
        }

        .sources {
            z-index: 2;
            position: absolute;
            bottom: 8px;
            align-items: center;
            display: flex;
            flex-direction: column;
            background: rgba(32, 29, 44, 0.9);
            padding: 8px 12px;
            gap: 12px;
            border-radius: 16px;

            .source-button {
                border: 0;
                cursor: pointer;
                position: relative;
                background-color: lighten($main-color, 75%);
                height: 36px;
                width: 36px;
                box-sizing: content-box;
                padding: 0;
                margin: 0;
                border-radius: $radius;
                color: $main-color;

                .warning {
                    background-color: red;
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: -6px;
                    right: -3px;
                }

                svg {
                    fill: $main-color;
                    transform: translateY(2px) scale(0.95);
                }

                &.active {
                    background-color: var(--primary-color);
                }

                &:disabled {
                    background-color: hsl(0deg, 0%, 63%);
                }

                @media (hover: hover) {
                    &:hover {
                        background-color: var(--primary-color-lighten-20);
                    }
                }

                &:not(.active):nth-child(-n + 3)::before {
                    content: '\\';
                    position: absolute;
                    color: $main-color;
                    z-index: 1000;
                    font-size: 1.8rem;
                    top: 1px;
                    left: 13px;
                    transform: rotate(62deg);
                    pointer-events: none;
                    text-shadow: 0 0 3px #eff1f6;
                }
            }
        }
    }

    .source-selects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
        width: 100%;

        .select {
            padding-right: 24px;
            max-width: 250px;

            @media (min-width: 280px) {
                width: 250px;
            }
        }

        .label {
            padding-top: 0px;
        }
    }

    .direction-content {
        height: 460px;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 60px;

        .keyboard {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .keyinput {
                display: flex;
                flex-direction: row;
                gap: 8px;
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                border-radius: 8px;
                color: white;
                align-items: center;
                justify-content: center;
            }

            .pressed {
                background-color: $lem-color-6;
            }

            .bottom-keyinput {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }
        }

        .arrows {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;

            .arrow {
                color: white;
                height: 20px;
            }

            .middle-arrow {
                display: flex;
                flex-direction: row;
                opacity: 1;
                gap: 60px;
            }

            .avatar {
                height: 26px;
                width: 16px;
                scale: 2;
                background-position: -48px -7px;
                image-rendering: crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: optimize-contrast;
                image-rendering: pixelated;
                image-rendering: optimize-contrast;
                -ms-interpolation-mode: nearest-neighbor;
            }

            .left {
                animation: avatar-left 0.5s steps(6) infinite;
            }

            .right {
                animation: avatar-right 0.5s steps(6) infinite;
            }

            .up {
                animation: avatar-up 0.5s steps(6) infinite;
            }

            .down {
                animation: avatar-down 0.5s steps(6) infinite;
            }
        }
    }

    .direction-content::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('assets/images/scene-onboarding-background.png');
        background-repeat: repeat;
        border-radius: 16px;
    }

    .left::after {
        animation: background-left 2s linear infinite;
    }

    .right::after {
        animation: background-right 2s linear infinite;
    }

    .down::after {
        animation: background-down 2s linear infinite;
    }

    .up::after {
        animation: background-up 2s linear infinite;
    }

    .button {
        all: unset;
        cursor: pointer;
        padding: 12px 16px;
        background: $lem-color-6;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
        max-width: fit-content;
        color: white;
        margin-top: 16px;

        .disabled {
            background: $gray200;
        }

        @media (min-width: 480px) {
            font-size: 1.5rem;
        }
    }

    .header {
        display: none;
    }

    .settingsCharacter {
        height: 362px;
        max-width: 650px;
        margin-bottom: 18px;
        z-index: 4;
    }
}

.onboarding::after {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/scene-loader-background.png');
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    animation: anim 10s linear infinite, fade-in-background 2s;
}

@keyframes fade-in-onboarding {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anim {
    100% {
        background-position: -416px -416px;
    }
}

@keyframes fade-in-background {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes background-right {
    100% {
        background-position: -416px 0;
    }
}

@keyframes background-left {
    100% {
        background-position: 416px 0;
    }
}

@keyframes background-down {
    100% {
        background-position: 0 -416px;
    }
}

@keyframes background-up {
    100% {
        background-position: 0 416px;
    }
}

@keyframes avatar-right {
    from {
        background-position: 0 -70px;
    }

    to {
        background-position: -96px -70px;
    }
}

@keyframes avatar-left {
    from {
        background-position: -192px -70px;
    }

    to {
        background-position: -288px -70px;
    }
}

@keyframes avatar-up {
    from {
        background-position: -96px -70px;
    }

    to {
        background-position: -192px -70px;
    }
}

@keyframes avatar-down {
    from {
        background-position: -288px -70px;
    }

    to {
        background-position: -384px -70px;
    }
}
