@import '../_variables';

.user-panel {
    position: absolute;
    z-index: 90;
    bottom: 14px;
    left: calc(50% - 149px);
    display: flex;
    gap: 6px;
    transition: all 0.5s ease-out;

    @media screen and (max-width: 1024px) {
        &.stream-active {
            left: calc(50% - 294px);
        }
    }

    @media screen and (max-width: 600px) {
        &.stream-active {
            left: unset;
            right: 22px;

            .buttons {
                background-color: rgba($main-color, 0.4);
            }
            
            .zoom-control {
               position: fixed;
               left:10px;
               background-color: $main-color;
            }
        }
    }

    @media screen and (max-width: 458px) {
        .zoom-control {
            position: fixed;
            left:10px;
         }
    }

    @media screen and (max-width: 400px) {
        &:not(.stream-active) {
            left: 20px;
            align-items: end;
            gap: 0;

            .buttons.actions {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            .separator {
                display: none;
            }

            .zoom-control {
                position: relative;
            }
        }
    }

    @media screen and (max-width: 344px) {
        &.stream-active {
            .zoom-control {
                display: none;
            }
        }
    }

    .buttons {
        background-color: rgba($main-color, 0.9);
        border-radius: 12px;
        padding: 10px;
    }

    .separator {
        color: #d2d5e0;
        transform: translateY(5px);
    }

    .zoom-control {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .button {
            width: 18px;
            height: 18px;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 900;
            line-height: 18px;
            
            @media (hover: hover) {
                &:hover {
                    color: $main-color;
                }
            }
            
            @media screen and (max-width: 850px) {
                height: 16px;
                width: 16px;
                padding: 0;
            }
            
        }
    }

    .button {
        position: relative;
        background-color: lighten($main-color, 75%);
        height: 36px;
        width: 36px;
        box-sizing: content-box;
        padding: 0;
        margin: 0;
        border-radius: $radius;
        color: $main-color;

        @media screen and (max-width: 850px) {
            height: 26px;
            width: 26px;
            padding: 4px;
        }

        svg {
            fill: $main-color;
            transform: translateY(2px) scale(0.95);
        }

        &.active {
            background-color: var(--primary-color);
        }

        &:disabled {
            background-color: hsl(0deg, 0%, 63%);
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--primary-color-lighten-20);
            }
        }

        &.audio:not(.active)::before, &.video:not(.active)::before, &.screen:not(.active)::before {
            content: '\\';
            position: absolute;
            color: $main-color;
            z-index: 1000;
            font-size: 1.8rem;
            top: 1px;
            left: 13px;
            transform: rotate(62deg);
            pointer-events: none;
            text-shadow: 0 0 3px #eff1f6;
        }
    }
}

.displaynone {
    display: none !important;
}
